body {
    font-family: 'Arimo', sans-serif;
}
nav li{
    display: inline;
    position: relative;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}
header{
    background-color: #005887;
}
body{
    padding-left: 0% !important;
    padding-right: 0% !important;
}
.col-12{
    padding-left: 0% ;
    padding-right: 0%;
}
header.col-12{
    padding-left: 6rem ;
    padding-right: 6rem;
}
.row{
    margin: 0%;
}
input{
    font-size: 2rem;
    line-height: 0.5rem;
}
header div.col-3{
    padding-left: 0rem;
    padding-right: 0rem;
}
header li{
    line-height: 7rem;
}
header ul{
    margin: 0%;
}
header a{
    color: white;
    font-size: 1.2rem;
}
header li.active a{
    color: #20eda3;
    font-size: 1.2rem;
}
header a:hover{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
header form{
    line-height: 7.5rem;
}
header button{
    font-size: 1.5rem;
    line-height: 2.5rem;
}
footer{
    background-color: #005887;
    color: white;
}
footer.col-12{
    padding-left: 6rem ;
    padding-right: 6rem;
}
footer hr{
    color: white;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    border-top: 1.5px solid white;
}
footer p{
    margin: 0rem;
}
footer div i{
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    font-size: 3rem;
    color: white;
}
main div.carousel{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.carousel-inner{
    height: 25rem;
}
.carousel-indicators li{
   background-color: #00d7bc;
   height: 8px;
   width: 40px;
   margin-left: 1rem;
   margin-right: 1rem;

}
.carousel-indicators li.active{
    background-color: #009fb3;
}
main div.col-12 h2{
    padding-left: 6rem;
    margin-bottom: 2rem;
}
main div.col-12 p{
    padding-left: 6rem;
    margin-bottom: 3rem;
}
main div.col-12 li{
    display: inline;
    position: relative;
    margin-right: 5rem;
}
main div.col-12 ul{
    margin-bottom: 0rem;
    
}
main div#sorteren{
    background-color: #00d7bc;
    padding-left: 6rem ;
    padding-right: 6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
main div#sorteren a:hover{
    color: black;
    text-decoration: none;
}
main div#sorteren a{
    color: black;
}
main div.se_detail{
    padding-left: 6rem;
    padding-top: 3rem;
    padding-right: 6rem;
}
main div.se_detail h1{
    font-size: 3rem;
}
main div.se_detail h2{
    font-size: 2.5rem;
    padding-left: 0rem;
}
main div.se_detail .text{
    padding-left: 1rem;
    margin-top: 2rem;
    padding-right: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}
main div.se_detail h3{
    font-size: 2rem;
}
main div.se_detail img{
    margin-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
}
main div.se_detail p{
    font-size: 1.2rem;
}
main div.se_detail .text{
    border: solid black 1px;
}
main div.sp_detail{
    padding-left: 6rem;
    padding-top: 3rem;
    padding-right: 6rem;
}
main div.sp_detail h1{
    font-size: 3rem;
}
main div.sp_detail h2{
    font-size: 2.5rem;
    padding-left: 0rem;
    padding-top: 1rem;
}
main div.sp_detail h3{
    font-size: 2rem;
    padding-top: 3rem;
}
main div.sp_detail p{
    font-size: 1.2rem;
    padding-right: 3rem;
    margin-bottom: 2rem;
}
main div.sp_detail img{
    padding-bottom: 2rem;
    
}
main div.sp_detail .col-5{
    padding-left: 7rem;
    padding-right: 0rem;
}
main div.sp_detail .col-5 a{
    color: black;
    font-size: 3rem;
    padding-right: 3rem;
}
div.persoon{
    border: solid black 1px;
    border-radius: 10px;
}
#bevat{
    padding-top: 4rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 4rem;
}
.persoon{
    margin-bottom: 3rem;
}
.persoon img{
    padding: 1rem;
    display: block;
    margin: 0 auto;
    
}
.persoon h2{
    padding-left: 1rem;
}
.persoon p{
    padding-left: 1rem;
    margin-bottom: 0rem !important;
}
.persoon div.col-2{
    border: solid black 1px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    padding-left: 1.1rem;
}
.persoon div.col-2 p{
    padding-left: 0rem;
    font-size: 2rem;
}
div.col-1 i{
    font-size: 2rem;
}
.persoon button{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-top: 1rem;
    background-color: #009fb3;
    color: white;
    border-radius: 10px;
    border: solid white 1px;
}
.persoon button:hover{
    border: solid #005887 1px;
}
.persoon div.col-9{
    padding-right: 0rem;
}
div.sessies{
    padding-left: 6rem;
    padding-right: 6rem; 
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.sessies .zaal{
    background-color: #009fb3;
    color: white;
    height: 35px;
}
.sessies .col-12 p{
    padding-left: 1rem;
    padding-top: 6px;
    margin-bottom: 0rem;
}
.sessies .col-2{
    padding-left: 2rem;
}
.sessies .col-2 p{
    margin-top: 1rem;
}
.sessies .col-7{
    padding: 0rem;
}
.sessies .col-7 p{
    margin-top: 1rem;
}
.sessies .col-7 a{
    color: black;
}
.sessies hr{
    margin: 0rem;
}
.sessies .row{
    height: 45px;
}
.sessies i{
    padding: 1.1rem;
}